@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --color: rgb(13, 19, 33);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    font-family: "Azeret Mono", monospace;
    color: var(--color);
}
button {
    cursor: pointer;
}
#btn {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    background-color: white;
    margin-top: 32px;
}
p {
    opacity: 0.7;
}
.title {
    font-size: 32px;
    font-weight: 800;
}
.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 48px;
    padding: 0 48px;
}
.text-container {
    padding: 0 97px;
}




/* header section's style is here */

/* nav section's style is here */
header .nav {
    padding: 47px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .nav h1 {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
}
header .nav #btn {
    margin: 0;
}

/* hero section's style is here */
.hero-section {
    background-image: url('assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 26px 0 44px 0;
    height: 652px;
    display: flex;
    justify-content: center;
    border: 1px dashed #ccc;
}
.hero-section div h1 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    width: 998px;
    margin: auto;
    margin-top: 32px;
}
.hero-section div p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 852px;
    margin: auto;
    margin-top: 24px;
}
.hero-section div #btn {
    background-color: var(--color);
    color: white;
    padding: 21px 24px;
    margin-top: 32px;
}
.hero-section div a {
    color: white;
}


/* main section's style is here */

/* why web development section's style is here */
.web {
    text-align: center;
    margin: 74px 150px 88px 150px;
}
.web .container {
    padding: 80px 97px;
}
.web .container .flex-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.web .container .flex-container .flex-section {
    display: flex;
    padding: 48px;
    justify-content: space-between;
    align-items: center;
}
.web .container .flex-container .flex-section .content{
    text-align: left;
    width: 500px;
}
.web .container .flex-container .flex-section .content h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.web .container .flex-container .flex-section .content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;
}
.web .container .flex-container .flex-section .content #btn {
    padding: 12px 20px 12px 20px;
    border-radius: 0;
}
.web .container .flex-container .middle {
    justify-content: normal;
    gap: 150px;
}
.web .container .flex-container .middle img {
    height: 100%;
}

/* inspiration section's style is here */
.inspiration {
    padding: 0 150px;
}
.inspiration .container {
    text-align: center;
}
.inspiration .container .content {
    padding: 0 97px;
}
.inspiration .container .video {
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
.inspiration .container .video iframe {
    width: 100%;
    height: 1000px;
    border-radius: 16px;
}

/* current target section's style is here */
.target {
    text-align: center;
    padding: 150px 150px 111px 150px;
}
.target .container {
    display: flex;
    margin-top: 48px;
    gap: 24px;
}
.target .container .content {
    padding: 40px;
    text-align: left;
    border-radius: 16px;
}
.text-content h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-top: 24px;
}
.text-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 8px;
}
.text-content a {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    margin-top: 24px;
    display: block;
}
.target .container .pink {
    background: rgba(255, 76, 30, 0.05);
}
.target .container .blue {
    background: rgba(0, 76, 232, 0.05);
}
.target .container .yellow {
    background: rgba(255, 223, 0, 0.05);
}

/* next target section's style is here */
.next {
    text-align: center;
    padding: 0 150px 0 150px;
}
.next .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.next .container .content {
    display: flex;
    text-align: left;
    gap: 24px;
    align-items: center;
    padding: 40px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.next .container .content img {
    height: 108px;
}

/* support section's style is here */
.support {
    height: 313px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('assets/handshake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 50px 150px 80px 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}
.support .container h1 {
    font-size: 32px;
    font-weight: 700;
    color: white;
}
.support .container p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 48px;
    color: white;
}
.support .container form input[type="text"] {
    padding: 19px 20px 19px 20px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 548px;
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}
.support .container form input[type="submit"] {
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    height: 57px;
    cursor: pointer;
}

/* footer section's style is here */
footer {
    display: flex;
    padding: 32px 150px;
    justify-content: space-between;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    align-items: center;
}
footer .content  h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}
footer .icons {
    display: flex;
    gap: 24px;
}